
body {
    background-image: url('http://blog.madame.lefigaro.fr/stehli/Photomaton1.JPG');
    background-position:center;
    background-size: 100%;
}

.menu {
    margin-top: 10vh;
    margin-bottom: 40vh;
    border: solid black 1px;
    border-radius: 15px;
    background-color: white;
    height: 50vw;
    width: 41%;
    max-width: 600px;
    min-height: 650px;
    max-height: 1000px;
    text-align: center;
}

.img-menu {
    padding-top: 5vh;
    margin-left: 3vw;
    height: 15vh;
    width: 25vw;
    max-width: 460px;
}

#subscription {
    display: block;
    height: 60vh;
    width: 30vw;
    text-align: center;
    margin: auto;
}

#login-button {
	display: block;
    margin-top: 1.5vh;;
    /* margin-left: 22%;     */
	font-size: 1vw;
    width: 20vw;
    text-align: center;
}

form {
    margin-top: 4vh;
}

#login {
    /* margin-left: 5vw; */
    margin-bottom: 0.8vh;
    padding: 0.5vw;
    text-align: center;
    width: 20vw;
    background-color: rgba(240, 235, 235, 0.952);
    border: solid grey 1px;
    border-radius: 5px;
}

#forgot {
    margin-top: 3vh;
    display: block;
    color: grey;
    text-align: center;
    font-size: 0.9vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;    
}

h1 {
    color: grey;
    text-align: center;
    font-size: 1.5vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;    
}

p {
    margin-top: 8vh;
    margin-bottom: 1vw;
    position: relative;
    text-align: center;
    color: black;
    font-size: 1vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.fb_title {
    margin-top: 10vh;
    vertical-align: center;
}

.text {
    margin-top: 2vh;
    color: grey;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;    
    text-align: center;
}

#camera, #return-img {
    width: 100%;
    max-width: 600px;
    max-height: 460px;
    border: solid black 6px;
	border-radius: 5px;
}

#vid_button {
    /* position: relative; */
    bottom: 52%;
    width: 50%;
    /* margin-left: 9vw; */
	/* font-size: 1vw;     */
}

#bottom-left-app {
    border: solid 3px black;
    border-radius: 10px;
    margin-top: 20vh;
}

.content-all {
    background-color: rgb(216, 214, 214);
    border: solid 1px black;
    border-radius: 10px;
    background-image: url("../img/camagru.png");
    background-size: 20%;
    margin-top: 0.8vh;
    margin-bottom: 10vh;
    height: 60%;
    width: 80%;
    overflow-x: auto;
    /* display: flex; */
    justify-content: center;
}

.img-gallery {
    margin-top: 1%;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 0.5%;
    width: 50%;
    margin-left: 25vw;
    align-self: center;
}

.cam {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
}

.canvas {
    background-color: rgb(216, 214, 214);
    background-image: url("../img/camagru.png");
    background-size: 20%;
}